<!DOCTYPE html>
<html lang='pt-Br'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous'>
    <link rel='stylesheet' href='public/index.bundle.css'>
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/header.ejs', { bot: bot, user: user, logged: logged, savedUser: savedUser }) %>
    <section class='background-dark vh-100 w-auto'>
        <div class='magic vh-80'>
            <h1 class='welcome c-title p-2'>Hospede seus bots<br>totalmente de graça!</h1>
            <p class='welcome c-description p-2'>Crie suas instancias, e gerencie elas com um<br>dashboard extremamente fácil e amigavel.</p>
            <div class='buttons'>
                <button type='button' class='btn btn-prymary btn-lg shadow'>Começar agora</button>
                <button type='button' class='btn btn-secondary btn-lg shadow'>Ver recursos</button>
            </div>
        </div>
    </section>
    <script
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ'
        crossorigin='anonymous'
    ></script>
</body>
</html>